<!-- nav.ejs -->

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/chef.jpg" alt="Home" style="height:61px; border-radius: 100px; width: 63px; margin: 0; margin-bottom: 10px;">
        </a>
        
        <ul class="navbar-nav me-auto">
            <!-- Menu Link -->
            <li class="nav-item">
                <a href="/products" class="nav-link">MENU</a>
            </li>

            <!-- Reservation Link -->
            <li class="nav-item">
                <a href="/reservation" class="nav-link">RESERVATION</a>
            </li>

            <!-- Login Link -->
            <li class="nav-item">
                <a href="/login" class="nav-link">LOGIN</a>
            </li>

            <!-- Register Link -->
            <li class="nav-item">
                <a href="/register" class="nav-link">REGISTER</a>
            </li>

            <!-- Shopping Cart Link -->
            <li class="nav-item">
                <a href="/cart" class="nav-link">SHOPPING CART</a>
            </li>
        </ul>
    </div>
</nav>
